<!DOCTYPE html>
<html>
<head>
    <%- include('../layout/head2') %>
</head>
<body>
  <header>
    <%- include('../layout/header') %>
  </header>
  <main>
    <h2>Book Details</h2>
    <section class="book-view container">
      <ul id="book-list">
        <li class="book-item" data-id="<%= book.id %>">
          <img src=<%= book.image_url %>
          <p>ISBN: <%= book.isbn %></p>
          <h4>Title: <%= book.title %></h4>
          <p>Author: <%= book.author %></p>
          <p>Desciption: <%= book.description %></p>
          <p>Bookshelf: <%= book.bookshelf %></p>
          <!-- <form>
            <button type= 'submit'>Update Details</button>
          </form> -->
          <form action="/delete/<%= book.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <button type= 'submit'>Delete Book</button>
          </form>
          <!-- if updating book: this is here we need to add the attributes for hiding and unhiding -->
          <form action="/update/<%= book.id %>" method="post">
            <fieldset>
              <input type="hidden" name="_method" value="put">
              <label for="title">
                <span>Title</span>
                <input type="text" name="title" value="<%= book.title %>">
              </label>
              <label for="title">
                <span>Author</span>
                <input type="text" name="author" value="<%= book.author %>">
                </label>
              <label for="title">
                <span>ISBN</span>
                <input type="text" name="isbn" value="<%= book.isbn %>">
              </label>
              <label for="title">
                <span>Bookcover URL</span>
                <input type="text" name="image_url" value="<%= book.image_url %>">
              </label>
              <label for="title">
                <span>Description</span>
                <input type="text" name="description" value="Description: <%= book.description %>">
              </label>
              <label for="title">
                <span>Bookshelf</span>
                <input type="text" name="bookself" value="<%= book.bookshelf %>">
              </label>
              <button type="submit">Update Book</button>
            </fieldset>
          </form>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    
  </footer>
</body>
</html>